extend ../components/subtemplate.pug
block contents
    section.boxsecondpage
        h2 Portafolio
        p   Este portafolio comenzo a realizarce el 22/06/2020, inicialmente estaba pensado para ser una SPA, pero luego poco a poco se fue transformando, esta hecho con diferentes herramientas de desarrollo, entre ellas:
        h3 HTML 
        img(src="../images/html.png", alt="")
        br
        p el HTML fu implmentado gracias al preprosesador PUG el cual permito generar el Header y Footer mas flexibles y poder hacer un cambio de paginas mas armonico y en poco tiempo.
        br
        img(src="../images/pug.png", alt="")
        br
        h3 CSS con SASS
        br
        img(src="../images/css.png", alt="")
        br
        img(src="../images/sass.png", alt="")
        br
        p Utilizamos SASS un preprocesador de CSS para  poder generar una pagina mas comoda al momento de generar un cambio en su estilo, ya que este preprocesador nos permitio agregar variables y funciones de de tal manera que nos permite estandarizar su estilo y genera una ayuda al momento de aplicarle mejora continua a la misma.
        br
        h3 JavaScript
        br
        img(src="../images/JS.png", alt="")
        br
        p Se utilizo codigo para dar interaccion con algunos elementos del HTML y permitir generar mas interactividad con el usuario esta pagina la puedes encontrar en mi repositorio en github:
        br
        a(href="https://github.com/Regniek/portfolio" target="blank_") Github-Portafolio
        br
        p Espero te haya gustado y servido esta informacion, estoy dispuesto a recibir feedback asi que si deseas escribirme te espero en mis redes con gusto leere tus mensajes.

