/*
Colores
#318FDE
#085CA1
#76A6DE
#90A8E0
#E2E8FE

paleta mejorada
#004085
#17314D
#001933
#265180
#000103

*/
*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial,  sans-serif;
}
body{
    background-color: #001933;
    color: white;
}
.header{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    height: 300px;
    background-image: url("./imagenes/develop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.perfilImage{
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    border:4px solid white;
    top:200px;
    left: 15px;
    height: 15vw;

}
.menu{
    
    grid-column: 3/4;
    grid-row: 1;
}
.menu nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 10px;
    margin: 0;
}
.present{
    grid-column: 1/3;
    grid-row: 1;
}
.container{
display: grid;
grid-template-columns: 0.7fr 3.3fr;

}

.exp{
    grid-column:1/2 ;
    grid-row: 1/3;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    position: absolute;
    left:-197px ;
    top:400px;
}
.exp h3{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 20px;
    width: 100%;
}
.exp-item{
    display: flex;
    justify-content: center;
    align-items: center;
   
    border-radius: 20px;
    height: 100px;
    width: 100%;
    
}
.exp-item_esp{
    display: block;
    
}
.exp-item_esp h4{
    display: flex;
    justify-content: center;
}
.exp-item_esp p{
    display: flex;
    justify-content: center;

}



.process{
    grid-column:2/3 ;
    grid-row: 1;
    
}
.containerProcess{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
}
.containerProcess-item{
   
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.containerProcess-item p{
    padding: 10px;
}
.containerProcess-item img{
    width: 100%;
    height: auto;
    object-fit: contain;

    border-radius: 10px 10px 0 0;
}
.proyects{
    grid-column:2/3 ;
    grid-row: 2;

}

.containerProyect{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    color: white;
}
.containerProyect-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    border-radius: 15px;
}
.containerProyect img{
    width: 100%;
    height: auto;
    
}

.footer {
    
}
