.box__aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.box__aboutme--stack ul{
    display: flex;
    list-style: none;
}
.htmlIcon{
    background-image: url("/images/html.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 48px;
    width: 48px;
    margin: 20px auto;
}
.cssIcon {
    background-image: url("/images/css.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 48px;
    width: 48px;
    margin: 20px auto;
}
.jsIcon {
    background-image: url("/images/JS.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 48px;
    width: 48px;
    margin: 20px auto;
}
.pugIcon {
    background-image: url("/images/pug.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 48px;
    width: 48px;
    margin: 20px auto;
}
.sassIcon {
    background-image: url("/images/sass.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 48px;
    width: 48px;
    margin: 20px auto;
}
.stylusIcon {
    background-image: url("/images/stylus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 48px;
    width: 48px;
    margin: 20px auto;
}
.box__aboutme--likes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 90px;
    width: 540px;
    border: 1px solid $oscuro-secundario;
    margin: 20px 20px 20px 0px;
    padding: 10px
}
.box__aboutme--description{
    text-align: justify;
    max-width: 800px;
}
.profil__specific{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    h1 {
        margin-top: 30px;
        padding: 0;
    }
    h2{
        margin: 5px 0 5px 0;
        padding: 0;
    }
    img{
        height: 150px;
        border-radius: 50%;
        border: 3px solid $color-claro;
    }
}
