.profil__menu{
    display:none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .8;
    z-index: 5;
    ol
        li{
            list-style: none;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            margin: auto 0;
        }
            a{
                padding-top: 60px;
                font-size: 50px;
                text-decoration: none;
                outline: none;
                color: $color-claro;
                text-align: center;
            }
}
.burger__menu{
    position: absolute;
    top: 2vh;
    right: 2vw;
    z-index: 10;
    background-image: url("/images/burger.png");
    background-color: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    &:hover{
        height: 150px;
        width: 150px;
        background-color: $brillo;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 8px $color-claro;
    }
}
.menu_aparece{
    display: flex;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
}