$color-principal : #012129;
$color-secundario:#011826;
$color-claro:#F9FAF5;
$brillo: #00FFAA;

@mixin principalBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	margin: 0;
	background: linear-gradient($color-principal,black);
	color: $color-claro;
	height: 100%;
	width: 100%;
}

.internalbox{
	&__image{
		height: 250px;
		width: 40vw;
		object-fit: contain;
	}
}