header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #08388A;
}
.container_nav{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &--botones{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ul{
            width: 350px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    text-decoration: none;
    &__special{
        font-size: 40px;
        text-decoration: none;
        color:$color-claro;
        font-family: $fuente-logo;
    }
    &:hover{
        text-decoration: none;
        color: white;
    }
}

.icono-p{
    display: block;
    background-image: url("/images/projects-dark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 80px;
}

.icono-c{
    display: block;
    background-image: url("/images/settingsblack.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 80px;
    ul{
        display: none;
        position: absolute;
        width: 150px;
        right: 1px;
        top: 0;
        height: 100px;
        background-color: $color-claro;
    }
    &:hover ul{
        display:block;
        cursor: pointer;
    }
}

.icono-i{
    display: block;
    background-image: url("/images/aboutblack.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 80px;
}

