section.box__aboutme
    section.box__aboutme--whoiam
        h2 ¿Quien soy yo?
    section.box__aboutme--likes
        p Web developer - Mechanic Engineer - Reporting & CPU Engineer at General Motors Colmotores, VBA, JavaScript, Noob Blogger, Fearless Gamer🕹 and Cyclist🚲.
    section.box__aboutme--description
        p Bienvenido a mi ser, soy Juan Camilo Espitia Camacho, Web developer y Reporting & CPU Engineer de General Motors colomotores en la ciudad de Bogotá, Ingeniero Mecánico de la Universidad Distrital Francisco José de Caldas, apasionado por todo tipo de bicicletas, padre sustituto de un niño y una niña, esposo de una mujer grandiosa.  Me enamore del desarrollo de software a los 15 años, pero por casualidades de la vida lo deje por mas de 10 años, a mis 28 años lo retomo y con la ayuda de Platzi y mi familia seré uno de los mejores. Este sitio esta creado para empezar mi camino como Blogger y servir a la comunidad.
    section.box__aboutme--stack
        ul
            li.htmlIcon
            li.cssIcon
            li.jsIcon
            li.pugIcon
            li.sassIcon
            li.stylusIcon