section.profil__menu.menu
    ul
        li
            a.icono-p(href="/index.html#projects")
        li
            a.icono-i(href="/about.html")
        li.icono-c(href="")
                ul
                    li
                        a(href="en/index.html") English/Spanish
                    li(onclick="modooscuro2()") Light/Dark
i.burger__menu#boton