mixin outbox(image,title,content,route)
    .internalbox
        img(src="images/"+ image).internalbox__image
        .internalbox__content
            h3(id="t5")=title
            p(id="p3")=content
            a(href=""+route).btnReadMore [Read more ...]