footer
    section.box__icons
        p  Tu puedes encontrarme en
        a(href="https://twitter.com/JuanRegniek" target="_blank").box__icons--twitter
        p ,
        a(href="https://www.instagram.com/juanregniek/" target="_blank").box__icons--instagram
        p y
        a(href="https://github.com/Regniek" target="_blank").box__icons--github
        p te espero.
