header
    div.container_nav
        div.logo
            a.logo__special(href="/index.html") Regniek.Dev
        nav.container_nav--botones
            ul
                li
                    a.icono-p(href="/index.html#projects")
                li
                    a.icono-i(href="/about.html")
                li.icono-c(href="")
                        ul
                            li
                                a(href="en/index.html") English/Spanish
                            li
                                a(href="") Light/Dark

include burgermenu.pug