section.msg__container
    section.animation__lamp
        .animation__lamp--lamp
        .animation__lamp--lights(id="luz")
    section.text__special(id="texto1")
        h3.text__special--text(id="texto2") "We were created to create what no one has created"
        br
        h5.text__special--by(id="texto3") -Juan Espitia
    button(id="btnligths").switch PUSH