section.msg__container
    section.animation__lamp
        .animation__lamp--lamp
        .animation__lamp--lights(id="luz")
    section.text__special(id="texto1")
        h3.text__special--text(id="texto2") "La creatividad es un acto de felicidad"
        br
        h5.text__special--by(id="texto3") -Juan Espitia
    button(id="btnligths").switch PUSH
br
br
br
br
section.projects-place(id="projects")
    div.title-proyectos
        h2 Proyectos
    section.box__projects
        +outbox('portafolio.JPG','Portfolio','Este es mi portafolio el cual fue creado con diferentes herramientas que he aprendido','/projects/portfolio.html')
        +outbox('ingefarm.JPG','My First Page','Ingefarm.co es la primera pagina web que construi y puse en la web realizada con HTML y CSS puro','/projects/ingefarm.html')
        +outbox('blog.JPG','Mi Blog','Te invito a que pases a mi blog uno de mis proyectos para ayudar a la comunidad','https://regniek.github.io/RegniekBlog/index.html')
