section.box__projects
    +outbox('portafolio.JPG','Portfolio','In my protfolio I am apply all knowledge learned','/projects/pipeloss.html')
    +outbox('ingefarm.JPG','My First Page','The Ingefarm website is my firts page create use only HTML- CSS pure.','/projects/ingefarm.html')
