section.box__projects
    +outbox('portafolio.JPG','Portfolio','Este es mi portafolio el cual fue creado con diferentes herramientas que he aprendido','/projects/portfolio.html')
    +outbox('ingefarm.JPG','My First Page','Ingefarm.co es la primera pagina web que construi y puse en la web realizada con HTML y CSS puro','/projects/ingefarm.html')
