section.box__projects
    +outbox('pipeloss.jpg','Pipeloss App','It is  the app create in Excel and VBA','projects/pipeloss.html')
    +outbox('reportegm.jpg','Production Report','It is a report what calculate the production days in 5minutes before this report consume 90 minutes in time','projects/reportgm.html')
    +outbox('ingefarm.jpg','My First Page','The Ingefarm website is my firts page create use only HTML- CSS pure.','projects/ingefarm.html')
