section.profil__menu.menu
    ol
        li
            a(href="../index.html") Inicio
        li
            a(href="../projects.html") Proyectos
        li
            a(href="../about.html") Acerca de
i.burger__menu#boton