header
    div.container_nav
        div.logo
            a.logo__special(href="../index.html") Regniek.Dev
        nav.container_nav--botones
            ul
                li
                    a.icono-p(href="../index.html#projects")
                li
                    a.icono-i(href="../about.html")
                li
                    a.icono-c(href="#")

include subburgermenu.pug