<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles-portfolio.css">
    <link href="https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&amp;family=Pacifico&amp;family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="cabeza">
      <div class="container_nav">
        <div class="logo"><a class="logo__special" href="/index.html">Regniek.Dev</a></div>
        <nav class="container_nav--botones">
          <ul>
            <li><a class="icono-p" href="/index.html#projects"></a></li>
            <li><a class="icono-i" href="/about.html"></a></li>
            <li class="icono-c" href="">
              <ul>
                <li><a href="en/index.html">English/Spanish</a></li>
                <li onclick="modooscuro2()">Light/Dark</li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="profil__menu menu">
      <ul>
        <li><a class="icono-p" href="/index.html#projects"></a></li>
        <li><a class="icono-i" href="/about.html"></a></li>
        <li class="icono-c" href="">
          <ul>
            <li onclick="traduciendo()">English/Spanish</li>
            <li onclick="modooscuro2()">Light/Dark</li>
          </ul>
        </li>
      </ul>
    </section><i class="burger__menu" id="boton"></i>
    <footer>
      <section class="box__icons">
        <p> Tu puedes encontrarme en</p><a class="box__icons--twitter" href="https://twitter.com/JuanRegniek" target="_blank"></a>
        <p>,</p><a class="box__icons--instagram" href="https://www.instagram.com/juanregniek/" target="_blank"></a>
        <p>y</p><a class="box__icons--github" href="https://github.com/Regniek" target="_blank"></a>
        <p>te espero.</p>
      </section>
    </footer>
    <script src="../index.js"></script>
  </body>
</html>